# shelv.ai Server Environment Variables
GOOGLE_SHEETS_SPREADSHEET_ID=110ZY-5XFP1fD55O3qu38RDDx4hZ8szPrMjWlRHMs-qg
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
